numpy
scipy
scikit-learn
typing
overrides
tqdm
nltk
allennlp
pytz
tensorboard-pytorch
git+git://github.com/j6mes/drqa@parallel
git+git://github.com/sheffieldnlp/fever-scorer@master

#below are the uofa ones
#git+https://github.com/myedibleenso/py-processors.git
torchwordemb


